@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;

  --gap-xsmall: 0.4em;
  --gap-small: 0.8em;
  --gap-mid: 1.2em;
  --gap-large: 1.6em;
  --gap-xlarge: 2em;

  --clr-paragraph: #a7a9be;
  --clr-background: #0f0e17;
  --clr-headline: #fffffe;
  --clr-button: #ff8906;
  --clr-button-text: #fffffe;
  --clr-form-outline: black;
  --clr-form-body: #fffffe;
  --clr-form-highlight: #ff8906;
  --clr-form-secondary: #f25f4c;
  --clr-form-ternary: #e53170;

  --fnt-normal: 1rem;
  --fnt-sub-heading: 1.2rem;
  --fnt-heading: 2rem;

  --gradient-main: linear-gradient(
    45deg,
    hsl(32deg 100% 51%) 0%,
    hsl(28deg 100% 54%) 11%,
    hsl(25deg 100% 57%) 22%,
    hsl(22deg 99% 58%) 33%,
    hsl(20deg 98% 59%) 44%,
    hsl(17deg 97% 60%) 56%,
    hsl(15deg 95% 61%) 67%,
    hsl(12deg 92% 62%) 78%,
    hsl(9deg 90% 62%) 89%,
    hsl(7deg 86% 62%) 100%
  );

  --shadow-color: 0deg 0% 63%;
  --shadow-elevation-low: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.34),
    0.4px 0.8px 1px -1.2px hsl(var(--shadow-color) / 0.34),
    1px 2px 2.5px -2.5px hsl(var(--shadow-color) / 0.34);
  --shadow-elevation-medium: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.36),
    0.8px 1.6px 2px -0.8px hsl(var(--shadow-color) / 0.36),
    2.1px 4.1px 5.2px -1.7px hsl(var(--shadow-color) / 0.36),
    5px 10px 12.6px -2.5px hsl(var(--shadow-color) / 0.36);
  --shadow-elevation-high: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.34),
    1.5px 2.9px 3.7px -0.4px hsl(var(--shadow-color) / 0.34),
    2.7px 5.4px 6.8px -0.7px hsl(var(--shadow-color) / 0.34),
    4.5px 8.9px 11.2px -1.1px hsl(var(--shadow-color) / 0.34),
    7.1px 14.3px 18px -1.4px hsl(var(--shadow-color) / 0.34),
    11.2px 22.3px 28.1px -1.8px hsl(var(--shadow-color) / 0.34),
    17px 33.9px 42.7px -2.1px hsl(var(--shadow-color) / 0.34),
    25px 50px 62.9px -2.5px hsl(var(--shadow-color) / 0.34);
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--clr-background);
  font-family: "Manrope", verdana;
  word-spacing: 0.1em;
}

h1,
h2,
h3,
h4,
.card p {
  margin: 0;
}

.app {
  display: grid;
  grid-template-columns: minmax(350px, 20vw) 1fr;
  gap: 6vw;
  padding: 6vh 6vw;
}

form > p {
  color: var(--clr-paragraph);
}

legend {
  background-color: var(--clr-form-highlight);
  padding: var(--gap-xsmall) var(--gap-large);
  font-weight: bold;
  color: var(--clr-button-text);
  border-radius: 5px;
  margin-bottom: var(--gap-small);
  background-image: var(--gradient-main);
  box-shadow: var(--shadow-elevation-medium);
  display: grid;
  align-items: center;
  grid-template-columns: 10% 1fr;
  gap: 0.2em;
  width: 80%;
  transition: all 120ms ease-in-out;
  text-align: center;
}

legend:hover {
  transform: scale(1.05);
  cursor: pointer;
}

fieldset {
  padding: var(--gap-xsmall) var(--gap-large) var(--gap-mid);
  margin-bottom: var(--gap-xlarge);
  border: none;
  border-radius: 5px;
  background-color: var(--clr-form-body);
}

fieldset,
fieldset > div,
label {
  display: flex;
  flex-direction: column;
}

label {
  position: relative;
  padding-bottom: var(--gap-small);
}

input {
  all: unset;
  border-radius: 5px;
  border: 1px solid var(--clr-paragraph);
  background-color: var(--clr-headline);
  padding: 0.2em 0.6em;
  transition: all 100ms ease-in-out;
  box-shadow: var(--shadow-elevation-low);
}

input:hover {
  cursor: auto;
}

input:focus,
textarea:focus {
  border: 1px solid var(--clr-button);
}

input[type="date"] {
  align-self: start;
}
input[type="date"]:hover {
  cursor: pointer;
}

.icon {
  max-width: 1.6rem;
  height: auto;
  fill: var(--clr-form-highlight);
}

legend .icon {
  fill: var(--clr-form-body);
}

.icon--button {
  transition: all 120ms ease-in-out;
}

.icon--button:hover {
  transform: scale(1.25) rotate(90deg);
  cursor: pointer;
}

.error-message {
  align-self: flex-start;
  padding: 0.2em 0.6em;
  margin: 0;
  color: var(--clr-form-body);
  background-color: var(--clr-form-highlight);
  animation: enter-screen 100ms ease-out;
}

textarea {
  border: 1px solid var(--clr-paragraph);
  padding: 0.2em 0.6em;
  outline: none;
  resize: none;
  overflow: auto;
  box-shadow: var(--shadow-elevation-low);
}

textarea::placeholder {
  font-family: "Manrope", verdana;
}

.character-counter {
  align-self: flex-end;
}

@keyframes enter-screen {
  0% {
    opacity: 0;
    transform: translateX(-30%);
  }
  70% {
    oopacity: 0.5;
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

/*========MAIN SECTION STYLE==========*/
.section--education,
.section--experience {
  border-top: 2px solid black;
}
.section--header {
  padding: 1rem 0 2rem;
}

.section--header svg {
  margin-right: var(--gap-xsmall);
}

.section--header h1 {
  font-size: 2.2em;
  margin-bottom: 0.1em;
}

.section--header h2 {
  font-size: 1.2em;
}

.section {
  margin-bottom: var(--gap-xlarge);
  padding-bottom: var(--gap-mid);
}
.main-section {
  margin-top: 75px;
}
.page-section {
  background-color: var(--clr-form-body);
  padding: 4vh 4vw;
}

.card {
  margin-top: var(--gap-mid);
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 0 var(--gap-mid);
}

.card p {
  max-width: 65ch;
  margin-bottom: var(--gap-mid);
}

.card__date {
  max-width: 40%;
  display: grid;
  gap: 1vw;
  grid-template-columns: repeat(2, 1fr);
}

.card h4,
.card h3 {
  margin-top: 0.2vh;
}

.card h3 {
  margin-bottom: 0.2vh;
}

.card svg {
  position: absolute;
  right: -35px;
  top: 0;
}

.flex-row {
  display: flex;
}

.btn__download {
  appearance: none;
  outline: none;
  border: none;
  padding: var(--gap-mid) var(--gap-xlarge);
  display: flex;
  position: absolute;
  top: 35px;
  right: 0;
  color: var(--clr-button-text);
  background-image: var(--gradient-main);
  font-weight: bold;
  border-radius: 10px;
  transition: all 120ms ease-in-out;
}

.btn__download:hover {
  transform: scale(1.15);
  cursor: pointer;
  font-weight: bolder;
}

.container {
  position: relative;
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

/* 2xl */
@media (max-width: 1536px) {
  .container {
    max-width: 1280px;
  }
}

/* xl */
@media (max-width: 1280px) {
  .container {
    max-width: 1024px;
  }

  form p {
    font-size: 0.8em;
  }

  .btn__download {
    transform: scale(0.95);
  }

  form p {
    font-size: 0.8em;
  }

  .app {
    grid-template-columns: minmax(200px, 15vw) 1fr;
    gap: 6vw;
  }

  .card svg {
    right: -30px;
  }
  legend {
    font-size: 0.8em;
  }
  label {
    font-size: 0.9em;
  }

  .section .icon {
    max-width: 1.2rem;
  }
  .section--header {
    padding-bottom: 0;
    margin-bottom: 30px;
  }
  .section h1 {
    font-size: 1.8em;
  }
  .section h2 {
    font-size: 1em;
  }
  .card h3 {
    font-size: 0.8em;
  }
  .card h4,
  .card p {
    font-size: 0.6em;
  }
  .card__date {
    min-width: fit-content;
  }
}

/* lg */
@media (max-width: 1024px) {
  .container {
    max-width: 768px;
  }

  form p {
    font-size: 0.7em;
  }

  .btn__download {
    transform: scale(0.9);
  }

  legend {
    font-size: 0.7em;
  }
  label {
    font-size: 0.8em;
  }
  .card svg {
    right: -25px;
  }
  .app {
    grid-template-columns: minmax(100px, 250px) 1fr;
  }
  textarea {
    max-width: 180px;
  }
  .section .icon {
    max-width: 1rem;
  }
  .section--header {
    padding-bottom: 0;
    margin-bottom: 20px;
  }
  .section h1 {
    font-size: 1.4em;
  }
  .section h2 {
    font-size: 0.8em;
  }
  .card h3 {
    font-size: 0.8em;
  }
  .card h4,
  .card p {
    font-size: 0.6em;
  }
}

/* md */
@media (max-width: 768px) {
  .container {
    max-width: 640px;
  }

  .btn__download {
    transform: scale(0.85);
  }

  label {
    font-size: 0.6em;
  }

  .card svg {
    right: -20px;
  }

  .app {
    grid-template-columns: minmax(100px, 200px) 1fr;
  }

  legend {
    font-size: 0.5em;
  }

  fieldset {
    padding-left: 8%;
    padding-right: 8%;
  }

  .section > .card {
    margin-top: 10px;
  }

  .section--education,
  .section--experience {
    margin-bottom: 0;
  }

  textarea {
    max-width: 130px;
  }

  .section .icon {
    max-width: 0.9rem;
  }
  .section--header {
    padding-bottom: 0;
    margin-bottom: 20px;
  }
  .section h1 {
    font-size: 1.2em;
  }
  .section h2 {
    font-size: 0.6em;
  }
  .card h3 {
    font-size: 0.6em;
  }
  .card h4,
  .card p {
    font-size: 0.4em;
  }
}

/* sm */
@media (max-width: 640px) {
  .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  textarea {
    max-width: 405px;
  }

  fieldset .icon {
    max-width: 2.6em;
  }

  form p {
    font-size: 1.4em;
    margin-bottom: 20px;
    text-align: center;
  }

  legend,
  .btn__download {
    font-size: 1.1em;
  }

  label {
    top: 0;
    font-size: 1.2em;
  }
  .icon {
    max-width: 1.4em;
  }

  form {
    padding: 0 10vw;
    margin-top: 60px;
  }

  fieldset {
    margin-bottom: 50px;
  }

  .main-section {
    margin-top: 0px;
    padding: 0 10vw;
  }
  .btn__download {
    margin: 0 auto 20px auto;
    position: relative;
    top: 0;
  }
}

/* xs */
@media (max-width: 475px) {
  .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  textarea {
    max-width: 350px;
  }

  fieldset .icon {
    max-width: 2.6em;
  }

  form p {
    font-size: 1.2em;
    margin-bottom: 20px;
  }

  legend,
  .btn__download {
    font-size: 1.1em;
  }

  label {
    top: 0;
    font-size: 1em;
  }
  .icon {
    max-width: 1.4em;
  }

  form {
    padding: 0 10vw;
    margin-top: 60px;
  }

  fieldset {
    margin-bottom: 50px;
  }

  .main-section {
    margin-top: 0px;
    padding: 0 10vw;
  }
  .btn__download {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 0;
  }
}
