@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --gap-xsmall: 0.4em;
  --gap-small: 0.8em;
  --gap-mid: 1.2em;
  --gap-large: 1.6em;
  --gap-xlarge: 2em;

  --fs-xl: clamp(1.2rem, 3vw, 2.2rem);
  --fs-l: clamp(1rem, 1.4vw, 1.2rem);
  --fs-m: clamp(0.8rem, 1vw, 0.9rem);
  --fs-s: clamp(0.6rem, 0.8vw, 0.7rem);

  --clr-paragraph: #a7a9be;
  --clr-background: #0f0e17;
  --clr-headline: #fffffe;
  --clr-button: #ff8906;
  --clr-button-text: #fffffe;
  --clr-form-outline: black;
  --clr-form-body: #fffffe;
  --clr-form-highlight: #ff8906;
  --clr-form-secondary: #f25f4c;
  --clr-form-ternary: #e53170;

  --gradient-main: linear-gradient(
    45deg,
    hsl(32deg 100% 51%) 0%,
    hsl(28deg 100% 54%) 11%,
    hsl(25deg 100% 57%) 22%,
    hsl(22deg 99% 58%) 33%,
    hsl(20deg 98% 59%) 44%,
    hsl(17deg 97% 60%) 56%,
    hsl(15deg 95% 61%) 67%,
    hsl(12deg 92% 62%) 78%,
    hsl(9deg 90% 62%) 89%,
    hsl(7deg 86% 62%) 100%
  );

  --shadow-color: 0deg 0% 63%;
  --shadow-elevation-low: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.34),
    0.4px 0.8px 1px -1.2px hsl(var(--shadow-color) / 0.34),
    1px 2px 2.5px -2.5px hsl(var(--shadow-color) / 0.34);
  --shadow-elevation-medium: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.36),
    0.8px 1.6px 2px -0.8px hsl(var(--shadow-color) / 0.36),
    2.1px 4.1px 5.2px -1.7px hsl(var(--shadow-color) / 0.36),
    5px 10px 12.6px -2.5px hsl(var(--shadow-color) / 0.36);
  --shadow-elevation-high: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.34),
    1.5px 2.9px 3.7px -0.4px hsl(var(--shadow-color) / 0.34),
    2.7px 5.4px 6.8px -0.7px hsl(var(--shadow-color) / 0.34),
    4.5px 8.9px 11.2px -1.1px hsl(var(--shadow-color) / 0.34),
    7.1px 14.3px 18px -1.4px hsl(var(--shadow-color) / 0.34),
    11.2px 22.3px 28.1px -1.8px hsl(var(--shadow-color) / 0.34),
    17px 33.9px 42.7px -2.1px hsl(var(--shadow-color) / 0.34),
    25px 50px 62.9px -2.5px hsl(var(--shadow-color) / 0.34);
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--clr-background);
  font-family: "Manrope", verdana;
}

.title,
.card p {
  color: var(--clr-background);
  margin: 0;
}

.app {
  display: grid;
  grid-template-columns: minmax(350px, 20vw) 1fr;
  gap: 4vw;
  padding: 6vh 6vw;
}

p {
  color: var(--clr-paragraph);
}

fieldset {
  padding: var(--gap-xsmall) var(--gap-large) var(--gap-mid);
  margin-bottom: var(--gap-xlarge);
  border: none;
  border-radius: 5px;
  background-color: var(--clr-form-body);
}

fieldset,
fieldset > div,
label {
  display: flex;
  flex-direction: column;
}

label {
  position: relative;
  padding-bottom: var(--gap-small);
  color: var(--clr-background);
  font-size: var(--fs-m);
}

input {
  all: unset;
  border-radius: 5px;
  border: 1px solid var(--clr-paragraph);
  background-color: var(--clr-headline);
  padding: 0.2em 0.6em;
  transition: all 100ms ease-in-out;
  color: var(--clr-background);
}

input:hover {
  cursor: auto;
}

input:focus,
textarea:focus {
  border: 1px solid var(--clr-button);
}

input[type="date"] {
  align-self: start;
}
input[type="date"]:hover {
  cursor: pointer;
}

svg {
  max-width: clamp(10px, 1.5vw, 22px);
  height: auto;
  fill: var(--clr-form-highlight);
}

fieldset svg {
  fill: var(--clr-background);
}

.error-message {
  align-self: flex-start;
  padding: 0.2em 0.8em 0.2em 0.6em;
  margin: 5px 0 0;
  border-radius: 5px 20px 20px 5px;
  color: var(--clr-form-body);
  background-color: var(--clr-form-highlight);
  animation: enter-screen 100ms ease-out;
}

.credits {
  color: var(--clr-paragraph);
  text-align: center;
  grid-column: 1 / 3;
}

.credits a {
  text-decoration: none;
  color: var(--clr-button);
  font-weight: bold;
}

a:hover {
  color: var(--clr-form-ternary);
  cursor: pointer;
}

textarea {
  border: 1px solid var(--clr-paragraph);
  padding: 0.2em 0.6em;
  outline: none;
  resize: none;
  overflow: auto;
  box-shadow: var(--shadow-elevation-low);
  color: var(--clr-background);
  background-color: var(--clr-form-body);
}

textarea::placeholder {
  font-family: "Manrope", verdana;
}

.character-counter {
  align-self: flex-end;
}

@keyframes enter-screen {
  0% {
    opacity: 0;
    transform: translateX(-30%);
  }
  70% {
    oopacity: 0.5;
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

/*========MAIN SECTION STYLE==========*/

.title--xlarge {
  font-size: var(--fs-xl);
}

.title--large {
  font-size: var(--fs-l);
}

.title--mid {
  font-size: var(--fs-m);
}

.title--small,
.card p {
  font-size: var(--fs-s);
}

.section--header {
  padding: 1rem 0 2rem;
}

.section--education,
.section--experience {
  border-top: 2px solid black;
}

.section--header svg {
  margin-right: var(--gap-xsmall);
}

.section {
  margin-bottom: var(--gap-xlarge);
  padding-bottom: var(--gap-mid);
}
.main-section {
  margin-top: 58px;
}
.page-section {
  background-color: var(--clr-form-body);
  padding: 4vh 4vw;
}

.card {
  margin-top: var(--gap-mid);
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 0 var(--gap-mid);
}

.card p {
  max-width: 65ch;
  margin: var(--gap-small) 0 var(--gap-mid);
}

.card__date {
  max-width: 40%;
  display: grid;
  gap: 1vw;
  grid-template-columns: repeat(2, 1fr);
}

.card h4,
.card h3 {
  margin-top: 0.2vh;
}

.card h3 {
  margin-bottom: 0.2vh;
}

.flex-row {
  display: flex;
}

.btn {
  appearance: none;
  outline: none;
  border: none;
  background-image: var(--gradient-main);
  transition: transform 120ms ease-in-out;
  border-radius: 5px;
  box-shadow: var(--shadow-elevation-medium);
  font-weight: bold;
  color: var(--clr-button-text);
  align-self: center;
  text-align: center;
  padding: var(--gap-small) var(--gap-large);
  font-size: var(--fs-m);
}

.btn:hover {
  transform: scale(1.05);
  cursor: pointer;
  font-weight: bolder;
}

.btn:active {
  transform: scale(0.97);
}

.btn:focus-visible,
a:focus-visible {
  outline: 2px solid var(--clr-form-ternary);
  outline-offset: -2px;
}

.btn__form__info {
  margin: var(--gap-small) 0 var(--gap-large);
  width: 80%;
  transition: transform 120ms ease-in-out;
  display: grid;
  align-items: center;
  grid-template-columns: 9.5% 1fr;
}

.btn__add {
  margin-top: var(--gap-small);
  width: 40%;
}

.btn__delete {
  position: absolute;
  right: 15px;
  top: 10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  padding: 0.1rem 0 0 0;
  transition: transform 120ms ease-in-out;
  text-align: center;
  display: flex;
  justify-content: center;
  align-content: center;
}

.card > .btn__delete:hover {
  transform: scale(1.3);
}

.btn__download {
  padding: var(--gap-mid) var(--gap-xlarge);
  position: absolute;
  top: 35px;
  right: 0;
  box-shadow: none;
}

.container {
  position: relative;
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

/* 2xl */
@media (max-width: 1536px) {
  .container {
    max-width: 1280px;
  }
}

/* xl */
@media (max-width: 1280px) {
  .container {
    max-width: 1024px;
  }

  .btn__download {
    transform: scale(0.95);
  }

  .section--header {
    padding-bottom: 0;
    margin-bottom: 30px;
  }

  .card__date {
    min-width: fit-content;
  }
}

/* lg */
@media (max-width: 1024px) {
  .container {
    max-width: 768px;
  }

  .app {
    grid-template-columns: minmax(250px, 20vw) 1fr;
    padding: 6vh 0;
  }

  .btn__download {
    transform: scale(0.9);
  }

  textarea {
    max-width: 180px;
  }
  .section--header {
    padding-bottom: 0;
    margin-bottom: 20px;
  }

  .page-section {
    margin-top: 22px;
  }
  .btn__form__info {
    font-size: var(--fs-s);
  }
}

/* md */
@media (max-width: 768px) {
  .container {
    max-width: 640px;
  }

  .btn__download {
    transform: scale(0.85);
  }

  fieldset {
    padding-left: 8%;
    padding-right: 8%;
  }

  .section > .card {
    margin-top: 10px;
  }

  .section--education,
  .section--experience {
    margin-bottom: 0;
  }

  textarea {
    max-width: 130px;
  }

  .section--header {
    padding-bottom: 0;
    margin-bottom: 20px;
  }
  .btn__form__info {
    padding: var(--gap-small);
  }
}

/* sm */
@media (max-width: 640px) {
  .container {
    width: 100%;
    padding: 0;
  }

  .container,
  .main-section {
    display: flex;
    flex-direction: column;
  }

  textarea {
    max-width: 405px;
  }

  form p {
    margin-bottom: 20px;
    text-align: center;
  }

  label {
    top: 0;
  }

  form {
    padding: 0 25vw;
    margin-top: 60px;
  }

  fieldset {
    margin-bottom: 50px;
  }

  .main-section {
    margin-top: 0px;
    padding: 0 10vw;
    display: flex;
  }
  .btn__download {
    align-self: center;
    position: relative;
    top: 0;
  }
  .btn__form__info {
    padding: var(--gap-mid) var(--gap-small);
  }
}

/* xs */
@media (max-width: 475px) {
  .container {
    min-width: 320px;
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  textarea {
    max-width: 350px;
  }

  form p {
    margin-bottom: 20px;
  }

  label {
    top: 0;
  }

  form {
    padding: 0 20vw;
    margin-top: 60px;
  }

  fieldset {
    margin-bottom: 50px;
  }

  .main-section {
    margin-top: 0px;
    padding: 0 10vw;
  }

  .btn__download {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 0;
  }
}
